[submodule "libraries/couchbase-lite-java-core"]
	path = libraries/couchbase-lite-java-core
	url = https://github.com/hammerheadnav/couchbase-lite-java-core.git
	branch = release/1.4.1
[submodule "libraries/couchbase-lite-java-native"]
	path = libraries/couchbase-lite-java-native
	url = https://github.com/hammerheadnav/couchbase-lite-java-native
	branch = release/1.4.1
